apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "rocker.fullname" . }}-server
  labels:
    app.kubernetes.io/component	: server
    {{- include "rocker.labels" . | nindent 4 }}
spec:
  {{- if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  {{- end -}}
{{- if .Values.ingress.tls }}
  tls:
{{ tpl (toYaml .Values.ingress.tls) $ | indent 4 }}
{{- end }}
  rules:
    - http:
        paths:
          - backend:
              service:
                name: {{ include "rocker.fullname" . }}-server
                port:
                  number: 80
            {{- if .Values.ingress.path }}
            path: {{ .Values.ingress.path }}
            {{- end }}
            {{- if .Values.ingress.pathType }}
            pathType: {{ .Values.ingress.pathType }}
            {{- end }}
      {{- if .Values.ingress.host }}
      host: {{ .Values.ingress.host | quote }}
      {{- end -}}