# Set the prefix used for all resources in the Helm chart. If not set,
# the prefix will be `<helm release name>`.
name: null

# Override name
nameOverride: null

# Full name override
fullnameOverride: null

# KubeHome configuration
kube-home:
  # configMap with custom favicon.ico app icon
  favicon: null

  # configMap with custom images
  img: null

  # configuration
  config: |
    {
      "locale": "en",
      "apps": [
        {
          "name": "Application 1",
          "desc": "Description",
          "url": "app1.k3s.local",
          "docs": "app1.k3s.local/docs"
        }
      ],
      "cluster": {
        "name": "K3S.LOCAL",
        "contacts": [
            {
              "title": "Administrator",
              "name": "Aiken Drum",
              "phone": "77-77",
              "mail": "eikendram@gmail.com",
              "avatar": {
                  "image": "img/jeb.jpeg"
              }
            }
          ],
          "specs": [
            {
              "name": "IP",
              "value": "192.168.120.15"
            }
          ],
          "services": [
            {
              "name": "Keycloak",
              "desc": "Access management",
              "url": "http://keycloak.k3s.local/",
              "icon": "fa-solid fa-user-gear"
            }
          ],
          "utils": [
            {
              "name": "keycloak",
              "desc": "Manage Keycloak users",
              "url": "http://git.k3s.local/kube-utils/keycloak/",
              "icon": "fa-solid fa-terminal"
            }
          ],
          "system": [
            {
              "name": "Dashboard",
              "desc": "Kubernetes dashboard",
              "url": "http://dashboard.k3s.local/",
              "icon": "fa-solid fa-chalkboard"
            }
          ]
      }
    }

# Details of the container image
image:
  repository: ghcr.io/eikendram/kube-home
  tag: v0.3.0
  pullPolicy: IfNotPresent
  # One or more secrets to be used when pulling images
  imagePullSecrets: []
  # - registrySecretName

# Ingress configuration
ingress:
  # Fully qualified domain name of a network host.
  host: null
  # Path is matched against the path of an incoming request.
  path: /
  # Determines the interpretation of the Path matching
  pathType: ImplementationSpecific
  # The name of an IngressClass cluster resource.
  ingressClassName: traefik
  # TLS configuration
  tls: []
  # Annotations to apply to the ingress.
  annotations: {}
  # If you want a custom path, you can try this example:
  # path: /api(/|$)(.*)
  # annotations:
  #  { nginx.ingress.kubernetes.io/rewrite-target: /$2 }

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 300Mi
  # requests:
  #   cpu: 100m
  #   memory: 300Mi

# Node selector to use for the KubeHome deployment. Optional.
nodeSelector: {}